::selection {background: #060606; color:#f6f6f6;}
::-moz-selection {background: #060606; color:#f6f6f6;}
::-webkit-selection {background: #060606; color:#f6f6f6;}
* {margin: 0; padding: 0;}
body {background-color: #f6f6f6;}
h1 {font-family: 'Merriweather', sans-serif; color: #060606; font-size: 35pt;padding-left: 8px;border-left: 4px solid #e23333;}
p {font-family: 'Montserrat', sans-serif; color: #060606; font-size: 23pt;}
.bttn a {font-size: 25pt;font-family: 'Merriweather', sans-serif;color: #060606;text-decoration: none;padding: 5px 5px;border-radius: 15px;transition-duration: 0.5s;border: 2px solid #060606;}
.bttn a:hover {font-size: 25pt; font-family: 'Merriweather', sans-serif; color: #e23333; background-color: #060606; text-decoration: none; padding: 5px 5px; border-radius: 15px; transition-duration: 0.5s;}
#link {font-size: 23pt;color: #060606;font-family: 'Merriweather';padding-left: 8px;border-left: 4px solid #e23333;text-decoration: none;transition-duration: 0.25;}
#link:hover {font-size: 23pt;color: #060606;font-family: 'Merriweather';padding-left: 8px;padding-right: 8px;border-left: 0px solid #e23333;text-decoration: none;transition-duration: 0.25;border-bottom: 4px solid #e23333;transition-duration: 0.25s;}
.blockT {padding: 7px;border-left: 4px solid #e23333;border-top: 2px solid #e23333;}
.blockT h1 {border-left: 0px solid black;}